<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkdownSharp" version="1.13.0.0" />
  <package id="MySql.Data" version="6.5.4" />
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
  <package id="Simple.Data.Ado" version="0.16.1.0" />
  <package id="Simple.Data.Core" version="0.16.1.0" />
  <package id="Simple.Data.Mysql" version="0.16.1.0" />
</packages>