<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="userANDpwd" value="user+pwd"/>
  </appSettings>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" connectionString="server=127.0.0.1;user=root;password=;database=willog;Charset=utf8;Allow Zero Datetime=true "/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>