@{
    Layout = "Admin/Layout.cshtml";
}
<div class="content" id="content">
    <div class="container">
        <form method="Post">
            <ul class="fields">
                <li class="field">
                    <label class="field-header"><span>标题</span></label>
                    <div class="field-content">
                        <p>
                            <input type="text" class="inputfield-maxwidth" name="title" />
                        </p>
                    </div>
                </li>
                <li class="field">
                    <label class="field-header"><span>别名</span></label>
                    <div class="field-content">
                        <p>
                            <input type="text" class="inputfield-maxwidth" name="slug" value="" />
                        </p>
                    </div>
                </li>
                <li class="field">
                    <label class="field-header"><span>日期</span></label>
                    <div class="field-content">
                        <p>
                            <input type="text" class="inputfield-maxwidth" name="created" value='@(DateTime.Now.ToString("yyyy-MM-dd hh:mm"))' />
                        </p>
                    </div>
                </li>
                <li class="field">
                    <label class="field-header"><span>内容</span></label>
                    <div class="field-content">
                        <p>
                            <textarea class="large" name="content"></textarea>
                        </p>
                    </div>
                </li>
                <ul class="do">
                    <li id="do_submit_publish" class="do-publish">
                        <div class="do-content">
                            <button type="submit" value="Publish" class="submit-publish button"><span class="button-text">保存</span></button>
                        </div>
                    </li>
                </ul>
            </ul>
        </form>
    </div>
</div>