<div id="footer" class="footer">
        <div class="container">
            <p>
                一起呵护我们的爱情，用文字记录她。等我们老后，打开我们的网页，和孩子们讲我们的故事。
            </p>
        </div>
    </div>
</body>
</html>