<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Willog</title>
    <link href="/assets/admin/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="masthead" class="masthead">
        <div class="container">
            <h2 id="logo">Willog</h2>
            <ul id='topnav' class='nav'>
                <li><a href='/admin/post' class='on'>日志</a></li>
                <li><a href='/admin/processwire/setup/'>记忆</a></li>
                <li><a href='/admin/processwire/module/'>照片</a></li>
                <li><a href='/admin/processwire/access/'>碎碎念</a></li>
            </ul>
        </div>
        <div id="secondary">
            <div class="container">
                <ul id='breadcrumb' class='nav'>
                    <li><a href='/admin'>控制面板</a></li>
                </ul>
            </div>
        </div>
    </div>
    