<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>Willog</title>
    <link href="/assets/admin/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="masthead" class="masthead">
        <div class="container">
            <h2 id="logo">Willog</h2>
            <ul id='topnav' class='nav'>
                <li><a href='/admin/' class='on'>Home</a></li>
                <li><a href='/admin/content/post/'>Post</a></li>
                <li><a href='/admin/content/page/'>Page</a></li>
                <!--<li><a href='/admin/photo'>照片</a></li>-->
            </ul>
        </div>
    </div>
    @RenderBody()
    <div id="footer" class="footer">
        <div class="container">
            <p>Willog 0.1</p>
        </div>
    </div>
</body>
</html>