@{
    Layout = "Admin/Layout.cshtml";
}
<div class="content" id="content">
    <div class="container">
        <ul class="shortcut-do">
            <li id="do_add_post">
                <a type="button" class="button" href="/admin/post/add"><span class="button-text">写日志</span></a>
            </li>
        </ul>
        <ul class="post-list">
            @foreach (var post in @Model)
            {
                <li>
                    <strong>[@post.Created.ToString("yyyy-MM-dd")]</strong><a href="/admin/post/edit?id=@post.Id">@post.Title</a>
                    <div class="do">
                        <a href="/admin/post/edit/@post.Id">编辑</a>
                        <a href="/admin/post/del/@post.Id">删除</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>