<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\willerce\Desktop\Willog</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="Assets/Admin/Images/bg.gif">
      <publishTime>05/20/2012 23:19:44</publishTime>
    </File>
    <File Include="Assets/Admin/Style.css">
      <publishTime>06/22/2012 20:18:38</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-apollo.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-clj.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-css.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-go.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-hs.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-lisp.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-lua.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-ml.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-n.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-proto.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-scala.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-sql.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-tex.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-vb.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-vhdl.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-wiki.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-xq.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/lang-yaml.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/prettify.css">
      <publishTime>05/26/2012 16:42:29</publishTime>
    </File>
    <File Include="Assets/Lib/Prettify/prettify.js">
      <publishTime>05/26/2012 16:37:48</publishTime>
    </File>
    <File Include="Assets/Theme/Images/footersub.png">
      <publishTime>05/26/2012 20:52:14</publishTime>
    </File>
    <File Include="Assets/Theme/Images/header.png">
      <publishTime>06/10/2012 23:53:11</publishTime>
    </File>
    <File Include="Assets/Theme/Images/icons.png">
      <publishTime>06/16/2012 12:32:45</publishTime>
    </File>
    <File Include="Assets/Theme/Images/logo.png">
      <publishTime>05/26/2012 17:16:12</publishTime>
    </File>
    <File Include="Assets/Theme/Images/tile.gif">
      <publishTime>06/10/2012 23:50:52</publishTime>
    </File>
    <File Include="Assets/Theme/Style.css">
      <publishTime>06/18/2012 23:28:37</publishTime>
    </File>
    <File Include="bin/MarkdownSharp.dll">
      <publishTime>05/20/2012 22:48:05</publishTime>
    </File>
    <File Include="bin/MarkdownSharp.xml">
      <publishTime>05/20/2012 22:48:05</publishTime>
    </File>
    <File Include="bin/MySql.Data.dll">
      <publishTime>05/20/2012 23:12:03</publishTime>
    </File>
    <File Include="bin/Nancy.Authentication.Forms.dll">
      <publishTime>05/28/2012 22:33:49</publishTime>
    </File>
    <File Include="bin/Nancy.dll">
      <publishTime>05/20/2012 22:48:00</publishTime>
    </File>
    <File Include="bin/Nancy.Hosting.Aspnet.dll">
      <publishTime>05/20/2012 23:26:24</publishTime>
    </File>
    <File Include="bin/Nancy.ViewEngines.Razor.dll">
      <publishTime>06/12/2012 01:50:47</publishTime>
    </File>
    <File Include="bin/Simple.Data.Ado.dll">
      <publishTime>05/20/2012 23:11:13</publishTime>
    </File>
    <File Include="bin/Simple.Data.dll">
      <publishTime>05/20/2012 23:11:13</publishTime>
    </File>
    <File Include="bin/Simple.Data.Mysql.Mysql40.dll">
      <publishTime>05/20/2012 23:11:13</publishTime>
    </File>
    <File Include="bin/System.Web.ApplicationServices.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.DynamicData.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Entity.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Extensions.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/Willog.dll">
      <publishTime>06/22/2012 20:20:54</publishTime>
    </File>
    <File Include="install.sql">
      <publishTime>06/04/2012 22:15:57</publishTime>
    </File>
    <File Include="robots.txt">
      <publishTime>05/30/2012 02:15:04</publishTime>
    </File>
    <File Include="Views/Admin/AdminHome.cshtml">
      <publishTime>06/22/2012 19:55:10</publishTime>
    </File>
    <File Include="Views/Admin/ContentAdd.cshtml">
      <publishTime>06/22/2012 19:55:13</publishTime>
    </File>
    <File Include="Views/Admin/ContentEdit.cshtml">
      <publishTime>05/28/2012 21:14:44</publishTime>
    </File>
    <File Include="Views/Admin/ContentHome.cshtml">
      <publishTime>06/22/2012 20:11:58</publishTime>
    </File>
    <File Include="Views/Admin/Layout.cshtml">
      <publishTime>06/22/2012 20:15:11</publishTime>
    </File>
    <File Include="Views/Admin/Login.cshtml">
      <publishTime>06/22/2012 20:17:11</publishTime>
    </File>
    <File Include="Views/Admin/PostAdd.cshtml">
      <publishTime>05/28/2012 21:14:50</publishTime>
    </File>
    <File Include="Views/Admin/PostEdit.cshtml">
      <publishTime>05/28/2012 21:14:44</publishTime>
    </File>
    <File Include="Views/Admin/PostHome.cshtml">
      <publishTime>06/09/2012 00:32:40</publishTime>
    </File>
    <File Include="Views/Feed.cshtml">
      <publishTime>06/16/2012 17:00:35</publishTime>
    </File>
    <File Include="Views/Home.cshtml">
      <publishTime>06/16/2012 13:35:26</publishTime>
    </File>
    <File Include="Views/Layout.cshtml">
      <publishTime>06/12/2012 21:33:36</publishTime>
    </File>
    <File Include="Views/Page.cshtml">
      <publishTime>06/12/2012 01:50:57</publishTime>
    </File>
    <File Include="Views/Post.cshtml">
      <publishTime>06/12/2012 22:37:54</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/12/2012 22:24:56</publishTime>
    </File>
  </ItemGroup>
</Project>