body, h1, h2, h3, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia,"Hiragino Sans GB", Tahoma, Helvetica, Arial, "SimSun", sans-serif;
    line-height: 1.7;
}


h1, h2, h3, h4 {
    font-weight: 400;
    font-size: 24px;
}

img {
    border: none;
}

ol, ul {
    list-style: none;
}
::selection {
    color: #fff;
    background: #C9302F;
    text-shadow: none;
}


/* common*/
body {
    background: #F4F4F4 url("images/tile.gif") repeat;
    font-size: 12px;
}


a img:hover {
    background: none;
    border: none;
}

a {
    color: #3D658D;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.wrapper {
    margin: 0 auto;
    width: 980px;
    position: relative;
    overflow: hidden;
}

.block {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    background-image: url("images/icons.png");
    background-position: -16px -16px;
    background-repeat: no-repeat;
}

.icon-feed {
    background-position: -16px -16px;
}

.icon-weibo {
    background-position: -48px -16px;
}

.sep5{
	height: 5px;
}
.sep10 {
	height: 10px;
}
/* header */
#main-header {
    height: 48px;
    background: #B32B2B url("images/header.png") repeat-x;
    margin-bottom: 20px;
}

#logo {
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    float: left;
    font-family: "Microsoft YaHei";
}


#main-header nav {
    position: absolute;
    right: 0;
    top: 0;
}

    #main-header nav ul li {
        display: inline;
    }

        #main-header nav ul li a {
            color: #ddd;
            display: block;
            font-weight: 600;
            float: left;
            line-height: 45px;
            margin-left: 1.7em;
        }

            #main-header nav ul li a:hover {
                color: #FFFFFF;
            }

/* footer */
#main-footer {
    background: url("images/footersub.png") repeat-x center top #DCDCDC;
    margin-top: 20px;
    padding: 10px 0;
    clear: both;
}

    #main-footer p {
        text-align: left;
        margin-bottom: 0;
        color: #818181;
    }

/* main */
#main .container {
    width: 720px;
    float: left;
}

#main .post {
    margin-bottom: 20px;
    padding: 20px;
}

    #main .post h2.t, .post h1.t {
        font-family: Pmingliu,Mingliu;
        font-size: 1.8em;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: 5px;
    }

    #main .post .meta {
        margin-bottom: 20px;
    }

#post-entry .content {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

#post-entry h1.t {
    margin-bottom: 25px;
}

.post .entry {
    font-family: "Trebuchet MS", Georgia,"Times New Roman",Times,sans-serif;
    font-size: 14px;
}
.post .entry p {
    margin-bottom: 1em;
}


    .post .entry h1 {
        font-size: 1.7em;
    }

    .post .entry h2 {
        font-size: 1.4em;
    }

    .post .entry h3 {
        font-size: 1.2em;
    }

    .post .entry ul, .post ol {
        list-style: disc outside none;
        margin-bottom: 1em;
        padding-left: 2em;
    }

    .post .entry ol {
        list-style: decimal outside none;
    }

    .post .entry hr {
        border-color: #ccc;
        border-right: 0 none;
        border-style: solid none none;
        border-width: 1px 0 0;
        display: block;
        height: 1px;
        margin: 1em 0;
        padding: 0;
    }

#comments h3 {
    font-size: 1.5em;
}

.navigation {
    background: #fcfcfc;
    font-size: 14px;
    padding: 8px;
}

.sidebar {
    float: right;
}

    .sidebar .widget {
        width: 240px;
        margin-bottom: 20px;
        background: #fff;
    }

        .sidebar .widget .wt {
            display: block;
            background: #fdfdfd;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            font-size: 14px;
            line-height: 1em;
        }

        .sidebar .widget .wc {
            padding: 10px;
        }

            .sidebar .widget .wc .share {
                margin-top: 20px;
            }

/* code */
code, pre {
    color: #333333;
    font-family: Menlo, Monaco, "Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}

code {
    background-color: #F5F5F5;
    padding: 3px 4px;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 12px;
    line-height: 1.5px;
    margin: 0 0 9px;
    padding: 8.5px;
    white-space: pre-wrap;
}

    pre.prettyprint {
        margin-bottom: 18px;
    }

    pre code {
        background-color: transparent;
        padding: 0;
    }