body, h1, h2, h3, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea {
    margin: 0;
    padding: 0;
}
body {
    font-family:Georgia,"Hiragino Sans GB", Tahoma, Helvetica, Arial, "SimSun", sans-serif;
    line-height: 1.7;
}

h1, h2, h3, h4 {
    font-weight: 400;
    font-size: 24px;
}

img {
    border: none;
}

a img:hover {
    background: none;
    border: none;
}

a {
    color: #07b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

p {
    margin-bottom: 1em;
}

input, textarea, button {
    outline: none;
}

input[type^="text"], input[type^="password"], textarea {
    box-shadow: inset 2px 3px 5px #eee;
    border: 1px solid #bbb;
    background: #fafafa;
}

input:focus, textarea:focus {
    background: #fff;
    border-color: #999;
}

input {
    vertical-align: middle;
}

input[type^="radio"] {
    border: none;
    background: none;
    width: auto;
}

::selection {
    color: #fff;
    background: #B32B2B;
    text-shadow: none;
}


/* common*/
body {
    background: #F4F4F4 url("images/tile.gif") repeat;
    font-size: 12px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
    overflow: hidden;
}

a:link, a:visited, .linkstyle {
    color: #3D658D;
    text-decoration: none;
}

a:hover, .linkstyle:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* header */
#main-header {
    height: 48px;
    background: #B32B2B url("images/header.png") repeat-x;
    margin-bottom: 20px;
}
#logo {
    font-size: 30px;
    color:#fff;
    line-height: 45px;
    float: left;
    font-family: "Microsoft YaHei";
}
#logo:hover{
    text-decoration: none;
}

#main-header nav {
    position: absolute;
    right: 0;
    top: 0;
}

#main-header nav ul li {
    display: inline;
}

#main-header nav ul li a {
    color: #ddd;
    display: block;
    font-weight: 600;
    float: left;
    line-height: 45px;
    margin-left: 1.7em;
}

#main-header nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* footer */
#main-footer {
    background: url("images/footersub.png") repeat-x center top #DCDCDC;
    margin-top: 20px;
    padding: 10px 0;
    clear: both;
}

#main-footer p {
    text-align: left;
    margin-bottom: 0;
    color: #818181;
}

/* main */
#main .container {
    width: 710px;
    float:left;
}
#main .post {
    margin-bottom: 20px;
    padding: 20px;
}

#main .post h2.t, .post h1.t {
    font-family: Pmingliu,Mingliu;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 5px;
}

#main .post .meta {
    margin-bottom: 20px;
}

/* entry */
#post-entry .content {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.post .entry {
    font-family: "Trebuchet MS", Georgia,"Times New Roman",Times,sans-serif;
    font-size: 14px;
}

.post .entry h1 {
    font-size: 1.7em;
}

.post .entry h2 {
    font-size: 1.4em;
}

.post .entry h3 {
    font-size: 1.2em;
}

.post .entry ul, .post ol {
    list-style: disc outside none;
    margin-bottom: 1em;
    padding-left: 2em;
}

.post .entry ol {
    list-style: decimal outside none;
}

.post .entry hr {
    border-color: #ccc;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/* code */
code, pre {
    color: #333333;
    font-family: Menlo, Monaco, "Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}

code {
    background-color: #F5F5F5;
    padding: 3px 4px;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;
    white-space: pre-wrap;
}

pre.prettyprint {
    margin-bottom: 18px;
}

pre code {
    background-color: transparent;
    padding: 0;
}

/* comment */
#comments h2.title {
    font-size: 1.8em;
    margin: 20px 0 30px 0;
}

.navigation {
    border-bottom: medium none;
    clear: both;
    display: block;
    font-size: 14px;
    padding: 8px;
}

/* comment style*/
.block {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    float: right;
}
.sidebar .widget {
    width: 230px;
    margin-bottom: 20px;
}
    .sidebar .widget .wt {
        display: block;
        border-bottom: 1px solid #ccc;
        padding-left: 10px;
        line-height: 2em;
        font-size: 16px;
    }
    .sidebar .widget .wc {
        margin-left: 10px;
    }