<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>未志</title>
    <link href="/assets/theme/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/lib/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/lib/prettify/prettify.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
</head>
<body>
<div id="global-container">
    <header id="main-header">
        <div class="wrapper">
            <a title="Willerce" href="/" id="logo">
                <img width="109" height="30" alt="Transifex logo" src="/assets/theme/images/logo.png">
            </a>
            <nav>
                <ul class="grid_7 alpha" id="global-nav">
                    <li><a class="smooth-transition" href="http://help.transifex.net">ABOUT</a></li>
                    <li><a class="smooth-transition" href="http://help.transifex.net">ABOUT</a></li>
                    <li><a class="smooth-transition" href="http://help.transifex.net">ABOUT</a></li>
                    <li><a class="smooth-transition" href="http://help.transifex.net">ABOUT</a></li>
                </ul>
            </nav>       		        		
        </div>
    </header>
