<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>@RenderSection("Title", false)</title>
    <link href="/assets/theme/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/lib/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/willerce" />
</head>
<body>
    <div id="global-container">
        <header id="main-header">
            <div class="wrapper">
                <a title="未志" href="/" id="logo">未志</a>
                <nav>
                    <ul class="grid_7 alpha" id="global-nav">
                        <li><a href="/about">About</a></li>
                        <li><a href="/links">Links</a></li>
                        <li><a target="_blank" href="http://twitter.com/willerce">Twitter</a></li>
                        <li><a target="_blank" href="http://weibo.com/willerce">Weibo</a></li>
                    </ul>
                </nav>       		        		
            </div>
        </header>
        @RenderBody()
        <footer id="main-footer">
            <div class="wrapper">
				<p>Lovingly made by willerce, miss aidingcan.com, power by  <a href="https://github.com/willerce/Willog">willog</a>, </p>
				<p>Thanks Visual Studio, Nancy and Simple.Data</p>
			</div>
        </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/lib/prettify/prettify.js"></script>
    <script>
        $(window).load(function() {
            $("code").addClass("prettyprint");
            prettyPrint();
        });
    </script>
</body>
</html>
