<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>@RenderSection("Title", false)</title>
    <link href="/assets/theme/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/lib/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/lib/prettify/prettify.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
<div id="global-container">
    <header id="main-header">
        <div class="wrapper">
            <a title="未志" href="/" id="logo">
                <img width="109" height="30" alt="Logo" src="/assets/theme/images/logo.png" />
            </a>
            <nav>
                <ul class="grid_7 alpha" id="global-nav">
                    <!--<li><a class="smooth-transition" href="/">ABOUT</a></li>
                    <li><a class="smooth-transition" href="/">ABOUT</a></li>
                    <li><a class="smooth-transition" href="/">ABOUT</a></li>
                    <li><a class="smooth-transition" href="/">ABOUT</a></li>-->
                </ul>
            </nav>       		        		
        </div>
    </header>
    @RenderBody()
    <footer id="main-footer">
        <p class="wrapper">Prower By willerce, Thanks Visual Studio 2010, Nancy and Simple.Data</p>
    </footer>
</div>
<script>
$(window).load(function(){
     $("code").addClass("prettyprint");
     prettyPrint();
})
</script>
</body>
</html>
