@{
    Layout = "Layout.cshtml";
}
@section Title{@Model.Title - 未志}
<div id="main" class="wrapper">
	<div class="container">
		<article id="post-entry" class="post block">
			<div class="content">
				<h1 class="t">@Model.Title</h1>
				<div class="entry">
					@Html.Raw(Model.Content)
				</div>
			</div>
		</article>
	</div>
	<div class="sidebar">
		<div class="widget block">
			<strong class="wt">About This Page</strong>
			<div class="wc">
			xxx
			</div>
		</div>
	</div>
</div>