@{
    Layout = "Layout.cshtml";
}
@section Title{@Model.Title - 未志}
<section id="main" class="wrapper">
    <article id="post-entry" class="post">
        <div class="content">
            <h1 class="t">@Model.Title</h1>
            <div class="meta"><time>@Model.Created.ToString("D")</time></div>
            <div class="entry">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div id="comments">
            <div id="disqus_thread"></div>
        </div>
    </article>
</section>
<script type="text/javascript">
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://willerce.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>