@Html.Partial("Header")
<section id="main" class="wrapper">
    <article id="post-entry" class="post">
        <div class="content">
            <h1 class="t">@Model.Title</h1>
            <div class="meta"><time>@Model.Created.ToString("D")</time></div>
            <div class="entry">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div id="comments">
            <h2 class="title">Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://willerce.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </article>
</section>
@Html.Partial("Footer")